@import "../../../library";

$radius: 96px;
$thick: 6px;

.spinner {
   position: fixed;
   top: calc(50% - $radius / 2);
   left: calc(50% - $radius / 2);
   width: $radius;
   height: $radius;
   border-radius: 50%;
   perspective: 800px;
   z-index: 10000;

   .inner {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      &.one {
         left: 0%;
         top: 0%;
         animation: rotate-one 1s linear infinite;
         border-bottom: $thick solid $primary;
      }
      &.two {
         right: 0%;
         top: 0%;
         animation: rotate-two 1s linear infinite;
         border-right: $thick solid $yellow;
      }
      &.three {
         right: 0%;
         bottom: 0%;
         animation: rotate-three 1s linear infinite;
         border-top: $thick solid $info;
      }
   }
}

@keyframes rotate-one {
   0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
   }

   100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
   }
}

@keyframes rotate-two {
   0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
   }

   100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
   }
}

@keyframes rotate-three {
   0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
   }

   100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
   }
}
