@import "../../library";

.wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   border-radius: $border-radius;
   box-shadow: $box-shadow;
   height: 365px;
   padding: 10px;
   transition: transform 0.35s linear;

   &:hover {
      transform: scale(1.025);
      transition: transform 0.35s linear;
   }

   p {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 700;
      color: #444;
   }

   .discountSticker {
      position: absolute;
      top: 0;
      left: -4px;
      width: 80px;
      height: 31px;
      background: url("/images/discount-badge.svg") center center no-repeat;

      p {
         text-align: center;
         margin: 2px 0 0;
         font-size: 12px;
         line-height: 22px;
         font-weight: 700;
         color: #fff;
      }
   }

   .hotsaleSticker {
      position: absolute;
      top: -10px;
      right: -8px;
      width: 50px;
      height: 50px;
      background: url("/images/hotsale-sticker.svg") center center no-repeat;
   }

   .productImageBox {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem;
   }

   .productNameBox {
      p {
         line-height: 22px;
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;
      }
   }

   .productPriceBox {
      display: flex;
      line-height: 19.6px;

      p {
         color: $primary;
      }

      span {
         font-size: 11px;
         line-height: 16.8px;
         color: #707070;
         text-decoration: line-through;
         margin-left: 5px;
         vertical-align: top;
      }
   }

   .productRatingBox {
      display: flex;
      align-items: center;
      font-size: 12px;

      svg {
         color: #ddd;
         &.check {
            color: #f59e0b;
         }
      }

      span {
         display: inline-block;
         margin-left: 5px;
      }
   }

   .btnBlock {
      display: flex;
      gap: 10px;
      margin-top: 20px;

      a,
      button {
         width: 100%;
         background-color: rebeccapurple;
         border-radius: 15px;
         color: #fff;

         &:hover {
            filter: brightness(1.1);
         }
      }

      .btnDetail {
         background-color: $blue;
      }

      .btnPurchase {
         background-color: $orange;
      }
   }
}
