@import "../../library";

.wrapper {
   height: 40px;
   display: flex;
   align-items: center;
   color: #444444;
   line-height: 22px;

   h2 {
      font-size: 20px;
      color: inherit;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
   }

   .filters {
      margin-left: auto;
      color: inherit;

      .filter {
         background-color: #f3f4f6;
         border: $button-border;
         border-radius: $border-radius;
         padding: 5px 10px;
         font-size: 12px;
         min-width: 0;

         & + .filter {
            margin-left: 10px;
         }
      }
   }
}
