@import "../../library";

@mixin hoverStyle {
   &:hover {
      background: #ddd;
      color: inherit;
      border-radius: $border-radius;
   }

   &:focus {
      outline: none;
      box-shadow: none;
      border-radius: 10px;
   }
}

@mixin wrapperStyle {
   border-radius: $border-radius;
   width: 185px;
   @include prefix-property(box-shadow, $box-shadow, moz webkit);
}

@mixin fontStyle {
   color: #343a40;
   font-size: 12px;
   font-weight: 700;
   line-height: 32px;

   a {
      text-decoration: none;
      color: inherit;
      font-weight: 700;
   }
}

@mixin navItemStyle {
   display: flex;
   align-items: center;
   padding: 0;
   font-size: inherit;
   font-weight: inherit;
   line-height: inherit;
   width: 100%;
}

.barWrapper {
   height: inherit;
   @include wrapperStyle();

   ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
         cursor: pointer;
         @include fontStyle;

         .dropdown {
            @include navItemStyle;
            @include hoverStyle;

            .dropdownToggle {
               display: flex;
               padding: 0 7.5px;

               &:hover {
                  background-color: #f2f2f2;
               }

               svg {
                  display: block;
                  height: 32px;
                  font-size: 0.625em;
                  margin: {
                     left: auto;
                  }
               }
            }

            .dropdownMenu {
               padding: 0;
               @include wrapperStyle;

               .dropdownItem {
                  padding: 0 10px;
                  @include fontStyle;
                  @include hoverStyle;
               }
            }
         }

         .categoryItem {
            @include navItemStyle;

            .itemIcon {
               display: inline-block;
               width: 18px;
               height: 18px;

               margin: {
                  left: 5px;
                  right: 5px;
               }
            }
         }
      }
   }
}
