@import "../../../library";

.input {
   background-color: #fff;
   display: inline-block;
   height: 2rem;
   max-width: 100%;
   padding: {
      top: 5px;
      right: 10px;
      bottom: 5px;
      left: 6px;
   }
   border: 1px solid #cacaca;

   &:focus {
      outline: none;
   }

   &.rounded {
      border-radius: $border-radius;
   }
}
