.orderInfoBox {
    display: flex;
    background-color: #1877f2;
    border-radius: 2.5px;
    padding: 10px;
    cursor: pointer;
    width: 47%;
    justify-content: center;
}

.orderInfoIcon {
    font-size: 24px;
    color: #fff;
}

.orderInfoText {
    margin: 0 0 0 5px;
    line-height: 16px;
    padding-top: 6px;
    color: #ffffff;
}