.inputControl {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 2.5px;
    &:focus {
        border-color: rgb(104, 104, 104);
    }
}

.btnControl {
    width: 100%;
    height: 40px;
}