.card {
    padding: 16px;
    width: 500px;
    margin: auto;
}

.inputControl {
    width: 100%;
    padding: {
        top: 5px;
        right: 10px;
        bottom: 5px;
        left: 6px;
    }
    ;
    border: 1px solid;
}