@import "../library";
.wrapper {
   max-width: $content-width;
}

.card {
   @include absolute-center;
   background-color: #fafafa;
   padding: 35px;
   max-width: 450px;
   min-width: 400px;
   box-shadow: $box-shadow;

   .title {
      font-size: 20px;
      font-weight: 550;
      line-height: 24px;
      text-transform: capitalize;
   }

   .divider {
      display: flex;

      span {
         color: #cccccc;
         padding: 0px 12px;
         font-size: 12px;
         text-transform: uppercase;
      }

      &::before,
      &::after {
         content: "";
         height: 1px;
         width: 100%;
         background-color: #dbdbdb;
         margin-top: 9px;
      }
   }

   .form {
      .formLabelGroup {
         display: flex;
         flex-flow: column-reverse;

         + .formLabelGroup {
            margin-top: 10px;
         }

         input,
         label {
            transition: all 0.25s linear;
            touch-action: manipulation;
         }

         input {
            font-size: 15px;
            width: 100%;
            padding: 18px 10px;
            border-radius: 8px;
            border: 1px solid #ccc;

            &::-webkit-input-placeholder {
               opacity: 0;
               transition: inherit;
            }

            &:focus {
               border-left: 8px solid red;

               &::-webkit-input-placeholder {
                  opacity: 1;
               }
            }

            &:placeholder-shown + label {
               cursor: text;
               max-width: 66.66%;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
               transform-origin: left bottom;
               transform: translate(0, 2.125rem);
               margin-left: 10px;
            }

            &:not(:placeholder-shown) + label,
            &:focus + label {
               transform: translate(0, 0);
               margin-left: 0;
               font-weight: bold;
            }
         }

         & > label {
            font-size: 14px;
            color: #666;
            padding-bottom: 3px;
         }
      }

      .btnControl {
         font-weight: 700;
         width: 100%;
         height: 40px;
         margin-top: 40px;
      }
   }

   .btnBlock {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;

      .btnOAuth {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         color: #fff;

         span {
            font-size: 18px;
            margin-left: 5px;
         }

         &:hover {
            filter: saturate(1.5) opacity(0.9) contrast(1.05);
         }

         svg {
            display: inline-block;
            font-size: 22px;
            line-height: 22px;
         }
      }

      .btnFacebook {
         background-color: #465993;
      }

      .btnGoogle {
         background-color: $danger;
      }
   }

   .textRegister {
      font-size: 12px;
      line-height: 14.4px;
      margin: 0px 5px 0px 0px;
      padding: 0px 25px;
      text-align: center;
      color: rgb(168, 168, 168);
   }
}
