@import "./Header.module.scss";

.cartBox {
   @extend %header-item;
}

.cartIcon_Block {
   position: relative;
}

.cartIcon {
   font-size: 28px;
}

.quantity {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, calc(-50% + 4px));
   font-weight: 600;
}

.cartText {
   margin: 0 0 0 5px;
   line-height: 16px;
}
