@import "../../../library";

.navbar {
   position: fixed;
   top: 0;
   background-color: $primary;
   box-shadow: #00000050 0px 4px 6px -1px;
   font-size: 12px;
   line-height: 22px;
   width: 100%;
   height: $header-height;
   z-index: 100;
}

.navbarMain {
   max-width: $content-width;
   height: 100%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

%header-item {
   color: #fff;
   display: flex;
   align-items: center;
   padding: 5px 10px;

   &:hover {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 1rem;
      cursor: pointer;
   }
}
