.box {
   width: 120px;
   height: 40px;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 1rem;
   cursor: pointer;
}

.dropdownButton {
   color: #fff !important;
   display: flex !important;
   align-items: center;
   gap: 3px;
   padding: 4px 6px !important;
   width: 100%;

   &:focus {
      box-shadow: none !important;
   }
   &:hover {
      color: #fff;
   }
}

.boxIcon {
   display: block;
   height: 100%;
}

.boxContent {
   display: inline-block;
   margin-left: 2px;
   text-align: left;

   p {
      margin: 0;

      &:first-child {
         font-size: 10px;
         line-height: 15px;
      }
      &:last-child {
         font-size: 12px;
         list-style: 18px;
      }
   }
}

.dropdownMenu {
   padding: 0 !important;
   border-radius: 10px !important;
   min-width: 0 !important;
   overflow: hidden;

   li {
      padding: 3px 20px;
      color: #333;
      font-size: 14px;
      line-height: 20px;

      &.active {
         background-color: #fee2e2;
      }
      &:not(.active):hover {
         background-color: #d3d3d350;
      }
      &:active {
         color: #333;
      }
   }
}
