@import "./Header.module.scss";

.orderInfoBox {
   @extend %header-item;
}

.orderInfoIcon {
   font-size: 28px;
   transform: scaleX(-1);
}

.orderInfoText {
   margin: 0 0 0 5px;
   line-height: 16px;
}
