@import "./Header.module.scss";

.phoneContactBox {
   @extend %header-item;
}

.phoneContactIcon {
   position: relative;
   font-size: 24px;
}

.phoneContactText {
   margin: 0 0 0 5px;
   line-height: 16px;
}
