.inputGroup {
   position: relative;
   display: flex;
}

.searchIcon_Block {
   display: flex;
   font-size: 16px;
   background-color: #fff;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   justify-content: center;
   align-items: center;
   z-index: 10;
}

.searchIcon_Icon {
   display: block;
   margin-left: 8px;
   color: #707070;
}

.searchBox {
   width: 250px;
   border: none !important  {
      top-left-radius: 0 !important;
      bottom-left-radius: 0 !important;
   }
   color: #2f2f2f;
   font-size: 14px;
   line-height: 22px;
   z-index: 10;
}

.searchBox_Expand {
   position: absolute;
   top: 20px;
   width: 100%;
   background-color: #fff;
   min-height: 35px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
