@import "../../../library";

.wrapper {
   border-radius: $border-radius;
   width: 700px;
   height: inherit;
   overflow: hidden;
   @include prefix-property(box-shadow, $box-shadow, moz webkit);
}
