@import "../../library";

$circle-size: 30px;

.controlButton {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   padding: 15px;
   min-width: 0;
   width: $circle-size;
   height: $circle-size * 2;
   background-color: #44444435;
   color: #f2f2f2;
   transition: transform 0.25s linear;

   &:hover {
      background-color: #33333365;
      color: #f2f2f2;
   }

   &:active {
      color: $primary;
   }
}

.prevButton {
   left: 0;
   border-top-right-radius: $circle-size * 2;
   border-bottom-right-radius: $circle-size * 2;
   transform: translate(-100%, -50%);

   &.show {
      transform: translate(0, -50%);
      transition: transform 0.25s linear;
   }

   svg {
      margin-left: -15px;
   }
}

.nextButton {
   right: 0;
   border-top-left-radius: $circle-size * 2;
   border-bottom-left-radius: $circle-size * 2;
   transform: translate(100%, -50%);

   &.show {
      transform: translate(0, -50%);
      transition: transform 0.25s linear;
   }

   svg {
      padding-right: 5px;
   }
}
