$primary: #d70018; // Màu chủ đạo
$orange: #e36222;
$blue: #3590cc;
$success: #47d764;
$info: #2f86eb;
$warning: #ffc021;
$danger: #dc3545;
$white-cream: #e5e7eb;

$button-border: 1px solid $white-cream;
$button-border-active: 1px solid $primary;
$border-radius: 10px;
$box-shadow: (rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px);
$header-height: 64px;
$content-width: 1200px;

@mixin absolute-center($offsetX: 0px, $offsetY: 0px) {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(calc(-50% + $offsetX), calc(-50% + $offsetY));
}

@mixin prefix-property($property, $value, $prefixes) {
   @each $prefix in $prefixes {
      -#{$prefix}-#{$property}: $value;
   }
   #{$property}: $value;
}

@mixin keyframes-animation($name) {
   @-webkit-keyframes #{$name} {
      @content;
   }
   @-moz-keyframes #{$name} {
      @content;
   }
   @keyframes #{$name} {
      @content;
   }
}
