@import "../../library";

@mixin variant($backgroud, $foreground: #f2f2f2) {
   background-color: $backgroud;
   color: $foreground;
}

@mixin size($size: "") {
   padding: 8px 16px;
   @if $size == "sm" {
      padding: 6px 12px;
      font-size: 0.85rem;
   }
   @if $size == "lg" {
      padding: 12px 36px;
      font-size: 1.1rem;
   }
}

.button {
   @include size();
   display: inline-block;
   min-width: 80px;
   text-align: center;
   text-decoration: none;
   background-color: transparent;
   color: #333;
   outline: none;
   border: none;
   border-radius: 2.5px;
   cursor: pointer;

   &.sm {
      @include size("sm");
   }
   &.lg {
      @include size("lg");
   }

   &:hover {
      filter: saturate(1.5) opacity(0.9) contrast(1.05);
   }
   &:disabled {
      filter: grayscale(0.75) !important;
      cursor: default;
   }

   &.success {
      @include variant($success);
   }
   &.info {
      @include variant($info);
   }
   &.warning {
      @include variant($warning);
   }
   &.danger {
      @include variant($danger);
   }
}
