.input {
   background-color: #fff;
   display: inline-block;
   height: 2rem;
   max-width: 100%;
   padding: {
      top: 5px;
      right: 10px;
      bottom: 5px;
      left: 6px;
   }
   border: none {
      radius: 10px;
   }

   &:focus {
      outline: none;
   }
}
