.input {
    background-color: #fff;
    display: inline-block;
    height: 2rem;
    max-width: 100%;
    padding: 5px 10px 5px 6px;
    border: none;
    border-radius: 10px;
}

.input:focus {
    outline: none;
}